/* Change navbar colour */
.nav.navbar.navbar-expand-lg.navbar-light{
    color: gray;
}

/* Re-sizing Logo */
.logo{
    height: 36 px;
    width: 36px;
}

/* .fillup{
    background-color: red;
} */

/* Contact Header */
.contact_header img{
    width: 100%;
}

/* Change the dimension of the contact picture */
.container{
    background-color:rgb(240,233,215)
}


/* .cbutton:hover {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} */


/* font (EMAIL ME) */
p.email{
    color: rgb(184, 83, 22);
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;

}

/* Form text */
.text{
    color: rgb(110, 79, 35);
    font-weight: bold;
    font-size: 20px;
}


/*input information (small box)*/
.box1{
    width: 350px;
}


.box2{
    width: 350px;
    height: 150px;
}




/* font (CONNECT) */
p.connect{
    color: rgb(184, 83, 22);
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;

}

/*Change hyperlink Color*/
a{
    color: rgb(184, 83, 22);
}


/* icon Size */
.icon{
    color: rgb(184, 83, 22);
    font-size: 50px;
    text-align: left;
    
}

/* icon text */
.icontext{
    color: rgb(103, 104, 90);
    font-size: 25px;
    margin-left: 5px;
    font-weight: bold;
}

.facebook:hover{
    color: #3b5998;
}


.linkedin:hover{
    color: #0e76a8;
}


.youtube:hover{
    color: #c4302b;
}


/* .linkedin{
    margin-left: 50px;
} */


/*Main Page background_desktop*/
.base{
    width: 100%;
    z-index: 1;
}

.base2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    max-height: 150px;
    max-width: 150px;
    position: relative;
    z-index: 2;
    
    /*min-height: 150px;*/
    /*max-height: 150px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*vertical-align: middle;*/
    /*top: 20px;*/
    /*left: 20px;*/
    /*position: relative;*/
    /*z-index: 2;*/
    

}




/*Media Query for phone size*/
/*@media only screen and (min-width: 720px){*/
/*    .background_home{*/
/*    background-image: url("images/Mountain_2.png");*/
/*    background-repeat: no-repeat;*/
    
/*    }*/
/*}*/


/*Media Query for destop*/
/*@media only screen and (min-width: 992px){*/
/*    .background_home{*/
/*    background-image: url("images/Mountain_1.png");*/
/*    background-repeat: no-repeat;*/
    
/*    }*/
/*}*/
