/* Change navbar colour */
.nav.navbar.navbar-expand-lg.navbar-light{
    color: gray;
}

/* Re-sizing Logo */
.logo{
    height: 36 px;
    width: 36px;
}

/* .fillup{
    background-color: red;
} */

/* Contact Header */
/* .contact_header{
    height: 300px;
    width: 1151px;
    border: 1px black;
} */

.container{
    background-color:rgb(240,233,215)
}