/* Change navbar colour */
.nav.navbar.navbar-expand-lg.navbar-light{
    color: gray;
}

/* Re-sizing Logo */
.logo{
    height: 36 px;
    width: 36px;
}

/* .fillup{
    background-color: red;
} */

/* Contact Header */
.contact_header img{
    width: 100%;
}

/* Change the dimension of the contact picture */
.contact_box{
    background-color:rgb(240,233,215)
}


/* .cbutton:hover {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} */


/* font (EMAIL ME) */
p.email{
    color: rgb(184, 83, 22);
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;

}

/* Form text */
.text{
    color: rgb(110, 79, 35);
    font-weight: bold;
    font-size: 20px;
}


/*input information (small box)*/
.box1{
    width: 350px;
}


.box2{
    width: 350px;
    height: 150px;
}




/* font (CONNECT) */
p.connect{
    color: rgb(184, 83, 22);
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;

}

/*Change hyperlink Color*/
a{
    color: rgb(184, 83, 22);
}


/* icon Size */
.icon{
    color: rgb(184, 83, 22);
    font-size: 50px;
    text-align: left;
    
}

/* icon text */
.icontext{
    color: rgb(103, 104, 90);
    font-size: 25px;
    margin-left: 5px;
    font-weight: bold;
}

/*hover color for facebook icon*/
.facebook:hover{
    color: #3b5998;
}


/*hover color for linkedin icon*/
.linkedin:hover{
    color: #0e76a8;
}


/*hover color for youtube icon*/
.youtube:hover{
    color: #c4302b;
}


/*end section of contact.html*/
.end_message{
    background-color:rgb(52 58 64);
    padding: 8px;
    
}


/*footer copywrite text size*/
.end_text{
    color: white;
    text-align: center;
    font-size: 15px;
}


/*footer copywrite icon size*/
.copyright{
    font-size: 25px;
}


/*contact page background*/
.body_contact{
    background-image: url("images/pattern_3.png");
    background-repeat: repeat;
}


/*Main Page background_desktop*/
.background_desktop{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    background-image:url("images/Mountain_1.png");
    background-repeat: no-repeat;
    height: 1600px;
    width: 100%;
}

/*main page my icon*/
.base{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    vertical-align: middle;
    padding-top: 10px;
}

/*break page section*/
.page_section{
    height: 150px;
}


/*Index "Hello" Section*/
.index_title{
    font-family: 'Luckiest Guy', cursive;
    font-size: 70px;
}


/*Index name introduction*/
.index_intro{
    font-family: 'Playball', cursive;
    font-size: 50px;
}


/*Index description about me */
.index_description{
    font-family: 'Rye', cursive;
    padding-top: 5px;
    border: 2px solid rgb(240,233,215);
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
}


/*button to download resume*/
.down_resume{
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    
}

/*about header picture*/
.about_header img{
    width: 100%;
}

/*slogan section*/
.about_slogan{
    background-color: rgb(202,149,164);
    font-family: 'Shojumaru', cursive;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
}




.about1{
    background-color: rgb(254,209,73);
}

.about_word{
    font-family: 'Merienda', cursive;
}

.ab_icon1{
    font-size: 60px;
    color: rgb(61,168,244);
}


.about2{
    background-color: rgb(81,193,159);
}

.ab_icon2{
    font-size: 60px;
    color: rgb(231,184,203);
}


.about3{
    background-color: rgb(62,169,245);
}

.ab_icon3{
    font-size: 60px;
    color: rgb(253,210,73);
}




/*temporary spacing*/
/*.between{*/
/*    height:200px;*/
/*}*/




/*Media Query for phone size*/
/*@media only screen and (min-width: 720px){*/
/*    .background_desktop{*/
/*    background-image: url("images/Mountain_2.png");*/
/*    background-repeat: no-repeat;*/
    
/*    }*/
/*}*/


/*Media Query for desktop*/
/*@media only screen and (min-width: 992px){*/
/*    .background_desktop{*/
/*    background-image: url("images/Mountain_1.png");*/
/*    background-repeat: no-repeat;*/
    
/*    }*/
/*}*/
